
<div class='search-medicines'>
  <%= form_tag search_medicines_path, class: 'search_form', remote: true do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search medicine here", class: "form-control" %>
    <%= submit_tag "Go", class: 'btn btn-default', id: 'medicine-go' %>

    <span class='or'>OR</span>

    <%= link_to "Add New Medicine", new_medicine_path, class: 'btn btn-default', id: 'new-medicine-btn', remote: true %>
  <% end %>
</div>

<% if @medicines.empty? %>

  <div class='no-match'>No match found.</div>
  
<% else %>

  <div class='search-result'>    
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>Medicine</th>
          <th>Associated Symptoms</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class='delete-data'>
        <% @medicines.each do |medicine| %>
          <td><%= medicine.name %></td>
          <td>
            <% medicine.symptoms.each do |symptom| %>
              <li><%= symptom.name %></li>
            <% end %>
          </td>
          <td>
            <%= link_to "Edit", edit_medicine_path(medicine), class: 'btn btn-primary btn-sm', remote: true %>
            <%= link_to "Delete", medicine_path(medicine), class: 'btn btn-danger btn-sm', method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>
