
<div class='search-medicines'>
  <%= render "medicines/search_medicines" %>
</div>

<% if @medicines.empty? %>

  <div class='no-match'>No match found.</div>
  
<% else %>

  <div class='search-result'>    
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>Medicine</th>
          <th>Associated Symptoms</th>
          <th class='thead-medicine-actions'>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class='delete-data'>
        <% @medicines.each do |medicine| %>
          <td><%= medicine.name %></td>
          <td>
            <% medicine.symptoms.each do |symptom| %>
              <li><%= symptom.name %></li>
            <% end %>
          </td>
          <td class='medicine-actions'>
            <%= link_to edit_medicine_path(medicine), class: 'btn btn-default btn-sm edit-medicine-icon', remote: true do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>

            <%= link_to medicine_path(medicine), class: 'btn btn-default btn-sm delete-medicine', method: :delete, remote: true, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>
