<div id="signup_form">
  <h2>Sign up for a clinic account</h2>
  <hr>

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <%= f.input :email, required: true, autofocus: true %>
    <%= f.simple_fields_for :accounts, resource.accounts.new do |a| %>
      <%= a.input :name, required: true %>
      <%= a.input :type, as: :select, collection: %w[Dental Medical], value_method: :downcase, required: true %>
    <% end %>

    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <br>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
