<div class="inline_inputs">
  <%= f.input :starts_at_date,
              label: false,
               placeholder: "Date",
               required: true, 
               input_html: { class: 'datepicker', value: (f.object.format_date if f.object.starts_at) }%>

  <%= f.input :starts_at_time,
               label: false,
               placeholder: "Time",
               required: true,
               input_html: { class: 'timepicker', value: (f.object.format_time if f.object.starts_at) } %>
  <%= f.submit "Save", class: 'btn btn-primary btn-sm appointment-save' %>
  <%= link_to "back", back_url, class: 'appointment-back' %>
  <%= link_to "Book Appointment", new_appointment_path(patient_id: @patient.id), class: 'btn btn-success btn-sm pull-right', id: 'new-appointment-btn-2', remote: true %>
</div>

<%= f.input :user_id,
              as: :hidden,
              required: true,
              input_html: { value: current_user.id } %> 

<%= f.input :patient_id,
              as: :hidden,
              required: true,
              input_html: { value: patient.id } %> 

<%= f.input :form,
              as: :hidden, 
              input_html: { value: "booking_form" } %>
