<% if @patient.appointments.empty? %>
  <h3>No appointments have been scheduled.</h3>
<% else %>
    <%= simple_form_for @patient do |f| %>
    <%= simple_form_for @patient, url: patient_path(@patient, tab: 'doctors_notes'), method: :patch do |f| %>
    
    <%= f.simple_fields_for :appointments do |m| %>
      <%= m.input :notes, label: "#{m.object.format_date}" %>
      <%= m.input :starts_at, as: :hidden, input_html: { value: m.object.starts_at} %>
    <% end  %>

    <br>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
<% end %>

