<h4><%="#{@patient.full_name}"%></h4>
<section id='medical-history'>
    <div class='row'>

      <%= simple_form_for @patient do |f| %>

        <%= f.simple_fields_for :medical_history do |m| %>
          <%= m.input :allergies, collection: @allergies, input_html: { class: 'select2', multiple: true } %>
          <%= m.input :previous_diseases, collection: @previous_diseases, input_html: { class: 'select2', multiple: true } %>

        <% end %>

        <%= f.button :submit, "Save", class: 'btn btn-primary' %>
      <% end %>

    </div>
</section>

<div class="allergy-list">

</div>
