
<div class="patient-appointments-table" %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class='thead-date'>Date</th>
        <th>Time</th>
        <th>Status</th>
        <th class='thead-actions'>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% appointments.order(:starts_at).each do |appointment| %>
      <tr class='edit-data delete-data'>
        <td class='date'><%= "#{appointment.format_date}" %></td>
        <td class='time'><%= appointment.format_time %></td>
        <td class='status'><%= appointment.status %></td>
        <td class='actions'>
            <%= link_to edit_appointment_path(appointment), class: "edit-appointment btn btn-default btn-sm", remote: true do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>

            <%= link_to cancel_appointment_path(appointment.id, tab: "patient-appointments" ), class: "cancel-appointment btn btn-default btn-sm", method: :patch, data: { confirm: "Are you sure?" } do %>
              <i class="glyphicon glyphicon-remove"></i>
            <% end %>

            <%= link_to appointment_path(appointment), method: :delete, class: "btn btn-default btn-sm delete-appointment", data: { confirm: "Are you sure?" }, remote: true do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>