<% if @patient %>

  <h4><u><%= "#{@patient.full_name}"%></u></h4>
  <%= simple_form_for @appointment, url: appointments_path(patient_id: @patient.id), method: :post do |f| %>
    <%= f.input :starts_at_date,
                  label: "Appointment",
                  as: :string,
                  required: true, input_html: { class: "datepicker" } %>
    <%= f.input :starts_at_time, 
                  as: :string, 
                  required: true, input_html: { class: "timepicker" } %>
    <%= f.input :user_id, as: :hidden,
                input_html: { value: current_user.id },
                required: true %>
    <%= f.input :patient_id, as: :hidden,
                input_html: { value: @patient.id },
                required: true %>
    <%= f.input :first_name, as: :hidden,
                input_html: { value: @patient.first_name },
                required: true %>
    <%= f.input :last_name, as: :hidden,
                input_html: { value: @patient.last_name },
                required: true %>
    <br>
    <%= f.button :submit, "Save", class: 'btn btn-primary' %>
    <%= link_to "back", back_url %>
  <% end %> 
<% end %>
