<% if @appointment.patient %>
  <% patient = @appointment.patient %>
  
    <div id="page-title" class="group">
      <% content_for :page_title do %>
        <h2><%= patient.full_name %></h2><hr>
      <% end %>
    </div>

  <%= simple_form_for @appointment, url: appointment_path(@appointment, patient_id: patient.id), method: :patch ,html: { class: 'form-inline'} do |f| %>
    <%= f.input :starts_at_date,
                  label: "Appointment",
                  as: :string,
                  required: true, input_html: { class: "datepicker", value: f.object.format_date } %>
    <%= f.input :starts_at_time, 
                  as: :string, 
                  required: true, input_html: { class: "timepicker", value: f.object.format_time } %>
    <%= f.input :user_id, as: :hidden,
                input_html: { value: current_user.id },
                required: true %>
    <%= f.input :patient_id, as: :hidden,
                input_html: { value: patient.id },
                required: true %>
    <%= f.input :first_name, as: :hidden,
                input_html: { value: patient.first_name },
                required: true %>
    <%= f.input :last_name, as: :hidden,
                input_html: { value: patient.last_name },
                required: true %>
    <br>
    <%= f.button :submit, "Save", class: 'btn btn-primary' %>
    <%= link_to "back", back_url %>
  <% end %> 
<% end %>
