
<% if current_user.appointments.empty? %>
  You have no scheduled appointments.
<% else %>
  <div id='appointments-table'>
  <table class='table table-hover'>
    <thead id='user-appointment-index-header'>
      <tr>
        <th>Schedule</th>
        <th>Patient Name</th>
        <th><center>Actions</center></th>
      </tr>
    </thead>
    <tbody id='user-appointment-index-body'>
    <% current_user.appointments.order(:starts_at).each do |appointment| %>
      <tr>
          <% patient = appointment.patient %>
          <% appointment_sched = appointment.starts_at %>
          <td><%= "#{appointment_sched.strftime("%A, %d %^b")} at #{appointment_sched.strftime("%H: %M")}" %></td>
          <td><%=  "#{patient.full_name}" %></td>
          <td>
            <center>
            <%= link_to "View Patient", patient_path(patient), class: 'btn btn-primary' %>
            <%= link_to "Edit Appointment", edit_appointment_path(appointment.id), class: 'btn btn-primary' %>
            <%= link_to "Cancel", appointment_path(appointment.id), method: :delete, class: 'btn btn-danger' %>
            </center>
          </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
 
<% end %>
  
  
 
