<% if user_signed_in? %>
  <ul class="nav bs-sidenav" id="dashboards-panel">
    <li>
      <%= link_to "Appointments", appointments_path %>
    </li>
    <li>
      <%= link_to "Patient Records", patients_path %> 
    </li>
    <li>
      <%= link_to "Prescription Generator", "#" %>
    </li>
    <li>
      <%= link_to "Phonebook", "#" %>
    </li>
  </ul>
  <br>
  <div id='addd-patient-btn'>
    <%= link_to "Add Patient", new_patient_path, class: "btn btn-default btn-block" %>
  </div>
  <br>
  <%= render partial: 'layouts/search_patient' %>
<% end %>




