<!DOCTYPE html>
<html>
  <head>
    <title>DOC IS IN</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body style>
    <%= render 'layouts/navbar_top' %>
    <div class="container">
      <%= render 'shared/flash_messages' %>
      <%= content_for(:page_title) %>
      <%= yield %>
    </div>
  </body>
</html>

